.programs{
    margin-top: 39px;
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    height: 50rem;
}

.programs>h1{
    color: white;
    font-size: 63px;
    letter-spacing: 0.8px;
    font-weight: bold;
}
.progimg {
    display: flex;
    justify-content: space-between; /* Distribute space between the images */
    align-items: center; /* Vertically center the images */
    padding: 0 30px; 
    cursor: pointer;/* Add equal margin at both ends */
    margin-top: 40px;
  }
  
  .progimg > div {
    flex: 0 0 calc(25% - 20px); /* Adjust the width and margin between images */
  }

  .productimg{
    transition: 0.3s
}

.productimg:hover{
    transform: scale(1.1);
}

.progimg2 {
    display: flex;
    justify-content: space-between; /* Distribute space between the images */
    align-items: center; /* Vertically center the images */
    padding: 0 30px; 
    cursor: pointer;/* Add equal margin at both ends */
    margin-top: 40px;
  }
  
  .progimg2 > div {
    flex: 0 0 calc(25% - 20px); /* Adjust the width and margin between images */
  }

  .productimg2{
    transition: 0.3s
}

.productimg2:hover{
    transform: scale(1.1);
}